<!-- templates/registration/profile.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Link to the CSS file -->
</head>

<body>
    <h2>Profile</h2>
    <form method="post">
        {% csrf_token %}
        <label for= "email">Email</label>
        <input type="email" name=""email value="{{user.email}}">
        <button type="submit">Update Profile</button>
    </form>
</body>

</html>